.user__avatar-wrapper {
    width: 120px;
    height: 120px;
    position: relative;
    opacity: 1;
}

@media screen and (max-width:850px) {
    .user__avatar-wrapper {
        margin: 38px auto 0 auto;
    }
}