.header__burger-button_active {
  border: none;
}
.header__burger-button_active::before {
  transform: rotate(-45deg);
  top: 14px;
}
.header__burger-button_active::after {
  transform: rotate(45deg);
  bottom: 14px;
}
