.popup__error {
    min-height: 20px;
    opacity: 0;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    border: none;
    padding: 0;
    display: inline-block;
    margin: 5px 0 0 0;
}