.gallery__delete-button {
    background-image: url(../../../images/delete_icon.svg);
    position: absolute;
    top: 18px;
    right: 15px;
    background-size: cover;
    width: 18px;
    height: 19.3px;
    cursor: pointer;
    border: 0;
    background-color: inherit;
}

.gallery__delete-button:hover {
    opacity: .5;
}