.header__link-container {
  display: flex;
}
@media screen and (max-width: 515px) {
  .header__link-container {
    width: 100%;
    height: 0;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s linear;
  }
}
